<ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-menu-button>
          <ion-icon class="icon-menu"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>
       Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-card class="animated delay-200ms zoomIn" routerLink="/about">
    <ion-card-content>
      <h3>Card 1</h3>
    </ion-card-content>
  </ion-card>

  <ion-card class="animated delay-300ms zoomIn" routerLink="/about">
    <ion-card-content>
      <h3>Card 2</h3>
    </ion-card-content>
  </ion-card>


  <ion-card class="animated delay-400ms zoomIn" routerLink="/about">
    <ion-card-content>
      <h3>Card 3</h3>
    </ion-card-content>
  </ion-card>


  <ion-card class="animated delay-500ms zoomIn" routerLink="/about">
    <ion-card-content>
      <h3>Card 4</h3>
    </ion-card-content>
  </ion-card>



</ion-content>
